<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividade8</title>
</head>
<body>
    <h1>Calculadora</h1>

    <form action="/calcular" method="post">
        <label for="num1">Primeiro Número</label><br>
        <input type="text" id="num1" name="num1"><br>

        <label for="num2">Segundo Número</label><br>
        <input type="text" id="num2" name="num2"><br><br>

        <select name="operacao">
            <option value="+">Somar (+)</option>
            <option value="-">Subtrair (-)</option>
            <option value="*">Multiplicar (*)</option>
            <option value="/">Dividir (/)</option>
          </select>

        <button type="submit">Calcular</button>
    </form>

    <p>Resultado é <span id="resultado"></span></p>

    <script>
    
    </script>
</body>
</html>
